
@model Blog.Web.Models.Login.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/bootstrap.js"></script>
    <div class="container">
        <div class="row">
            <div class='col-md-3'></div>
            <div class="col-md-6">
                <div class="login-box well">
                    @using (Html.BeginForm("Login", "Conta", new { returnUrl = Request.Url.Query }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <legend>Login</legend>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Email)
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "E-mail" })

                        </div>
                                <div class="form-group">
                                    @Html.LabelFor(x => x.Senha)
                                    @Html.PasswordFor(x => x.Senha, new { @class = "form-control", placeholder = "Senha" })
                                </div>
                                <div class="input-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(x => x.Lembrar) Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-default btn-login-submit btn-block m-t-md" value="Entrar" />
                                </div>
                                <span class='text-center'><a href="/resetting/request" class="text-sm">Esqueceu a senha?</a></span>
                                <div class="form-group">
                                    <p class="text-center m-t-xs text-sm">Não é cadastrado?</p>
                                    <a href="/register/" class="btn btn-default btn-block m-t-md">Registrar</a>
                                </div>
                    }
                </div>
            </div>
            <div class='col-md-3'></div>
        </div>
    </div>
</body>
</html>
