@model IEnumerable<Blog.Core.Domain.Artigos>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container space-y-t-h space-y-b">

    <div class="row">

        <div class="col-md-9">

            <div class="row">

                <div class="col-md-12">

                    <ul class="blog-stander-sidebar">

                        
                        @foreach (var item in Model)
                        {
                            <li class="blog-stander-sidebar__details photography" data-category="photography">
                                <div class="post-img post-media">
                                    <a href="post-page.html">
                                        <img src="~/Images/post/@item.imagem" alt="">
                                    </a>
                                </div>
                                <div class="post-band">
                                    <div class="post-data">
                                        <h2>
                                            <a href='@Url.Action("Post","Blog",new {id=item.id_artigo })' class="post-title">@item.titulo</a> <h2>
                                                <ul class="post-data__group1">
                                                    <li class="post-categorize"> <a href="#">data de criação</a></li>
                                                    <li><time datetime="2015-04-26T12:04"> <strong>@string.Format("{0:dddd, MMMM d, yyyy}", item.data_criacao)</strong></time></li>
                                                </ul>

                                    </div>
                                    <!-- / post-data -->
                                    <div class="post-brief">
                                        
                                        <p>@item.descricao<a href='@Url.Action("Post","Blog",new {id=item.id_artigo })'>Continuar Lendo  </a> </p>

                                    </div>
                                    <ul class="post-data__group2">
                                        <li class="post-author"><a href="#"> <i class="fa fa-user"></i>@item.Usuarios.nome</a></li>
                                        <li class="post-comment"> <a href="#"><i class="fa fa-comment"></i> 1 </a> </li>
                                    </ul>
                                    <div class="tags">
                                        @foreach (var tag in item.Artigos_Tags)
                                        {
                                                <a href='@Url.Action("Tag","Blog",new {id=tag.id_tag})' class="tag"> @tag.Tags.descricao</a>

                                        }
                                    </div>
                                   
                                </div>
                                <!-- / post-band -->

                            </li>
                        }
                    


                    </ul>
                    <!-- #work-grid-item -->

                </div>
                <!-- / col-md-12 -->

            </div>
            <!-- / row -->

            <div class="row">

                <div class="col-md-12">

                    <div class="tags">
                        <a href="#" class="pagination-arow active">1</a>
                        <a href="#" class="pagination-arow">2</a>
                        <a href="#" class="pagination-arow">3</a>
                        <a href="#" class="pagination-arow">4</a>
                    </div>

                </div>
                <!-- end col-md-12 -->

            </div>
            <!-- end row-->

        </div>
        <!-- end col-md-9-->

        <div class="padding-top-half visible-sm-block visible-xs-block"></div>

        <div class="col-md-3">

            <aside class="blog-sidebar">

                <form id="searchfom" method="get" role="search">

                    <input type="search" style="background: #eee" placeholder="Pesquisar" name="search">

                </form>

               
                @Html.Action("PostRecentes", "Blog");
                @Html.Action("ListaCategorias", "Categorias");
                <section class="tags">
                    <h4 class="post-title">tags</h4>
                    <a href="#"> lifestyle</a>

                    <a href="#"> photography</a>

                    <a href="#"> news</a>

                    <a href="#"> music</a>

                    <a href="#"> health</a>

                    <a href="#"> science</a>

                    <a href="#"> design</a>

                    <a href="#"> life</a>

                </section>

            </aside>
            <!-- end blog sidebar -->

        </div>
        <!-- end col-md-3 -->

    </div>
    <!-- end row -->

</div>
<!-- end container -->


@section Scripts{

        
    
}
