@model IEnumerable<Blog.Core.Domain.Artigos>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="tab-general" ng-controller="postController">
    <div class="row mbl">
        <div class="col-lg-12">

            <div class="col-md-12">
                <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                </div>
            </div>

        </div>

        <div class="col-lg-12">

            <div class="page-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel">
                            <div class="panel-body">

                                    <h2>Post</h2>
                                    <a href='@Url.Action("Novo","Post")' class="btn btn-default">
                                        <i class="fa fa-plus"></i> Novo Post
                                    </a>
                                    <input type="text" class="form-control" ng-model="busca" placeholder="Digite o nome do artigo" />
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Titulo</th>
                                            <th>Data de Criação</th>
                                            <th>Status</th>
                                            <th>Ação</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.id_artigo</td>
                                                <td>@item.titulo</td>
                                                <td>@string.Format("{0:dddd, MMMM d, yyyy}", item.data_criacao)</td>
                                                @if (item.ativo.Value)
                                                {
                                                    <td><span class="label label-sm label-success">Publicado</span></td>
                                                }else
                                                {
                                                    <td><span class="label label-sm label-danger"> N Publicado</span></td>
                                                
                                                }
                                                <td>
                                                    <a href='@Url.Action("Editar","Post",new { id = item.id_artigo })' class="btn btn-primary">
                                                        <i class="fa fa-folder-open"></i>
                                                    </a>
                                                    <a href='@Url.Action("Excliur","Post",new { id = item.id_artigo })' class="btn btn-danger">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                        }
                                      
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts{
    <script>
        
    </script>
    <script src="~/Scripts/angular/admin/post/controllers/postController.js"></script>  
}
